*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 2rem;
    text-align: center;
}


.logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.logo:hover {
    color: rgb(176, 77, 64);
}

.searchbar {
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

#search input {
    background-color: rgb(207, 207, 207);
    width: 70vw;
    border-style: solid;
    border-radius: 3px;
    padding: 1rem;
}

.submit { 
  padding: 1rem;
  background-color:rgb(176, 77, 64);
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}

.submit:hover {
  background-color: rgb(132, 53, 43);
  cursor: pointer;
}

.grid {
    justify-content: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 1.5rem;
}

.grid img {
    width: 20rem;
}

#name {
    text-align: center;
    padding-bottom: 1.5rem;
}

.dropdowns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.dropdowns select {
    padding: 0.5rem 1rem;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(176, 77, 64);
  border-radius: 3px;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(132, 53, 43);
  cursor: pointer;
}

#name {
  font-size: 1.5rem;
}

.video {
    padding-inline: 1rem;
    padding-block: 2rem;
    height: auto;
    display: flex;
    justify-content: center;
}

iframe {
  width: 80vw;
  aspect-ratio: 16/9;
  border: none;
}


#randomBtn {
  display: inline-block;
  padding: 1rem;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  