@import "normalise.css";

:root {
    --bg-colour: hsl(0, 0%, 10%);
    --bg-colour-card: hsl(0, 0%, 13%);

    --font-colour-main: hsl(0, 0%, 85%);
    --font-colour-light: hsl(0, 0%, 95%);
    --font-colour-dark: hsl(0, 0%, 10%);
    --font-colour-footer: hsl(0, 0%, 50%);

    --accent-colour: hsl(10, 55%, 45%);
    --accent-colour-dark: hsl(10, 55%, 35%);



    --input-bg-colour: hsl(0, 0%, 80%);
}

body {
    background-color: var(--bg-colour);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-colour-main);
    padding-inline: 8rem;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 2rem;
    text-align: center;
}

a {
    color: var(--font-colour-main);
    text-decoration: none;
}

a:hover {
    color: var(--accent-colour);
    text-decoration: underline;
    cursor: pointer;
}

input, button, .button {
    background-color: var(--input-bg-colour);
    padding: 0.8rem;
    border: 0;
    border-radius: 0.4rem;
    margin: 0.2rem;
    color: var(--font-colour-main);
}

input { 
    color: var(--font-colour-dark)
}

button, .button {
    background-color: var(--accent-colour);
    color: var(--font-colour-light);
    font-weight: 550;
}

button:hover, .button:hover {
    cursor: pointer;
    background-color: var(--accent-colour-dark);
    color: var(--font-colour-light);
    text-decoration: none;
}


/* 
    Index
 */

.searchbar {
    margin-bottom: 4rem;
}

#search {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
}

#search button, #search a {
    flex: auto;
}

#search input {
    width: 88%
}

.search-icon {
    background: 
        url("https://cdn-icons-png.flaticon.com/512/18/18633.png")
        no-repeat
        center
        /100%;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.4rem;
    left: 1rem;
}

#search input[type="text"] {
    padding-left: 3rem;
    background-color: var(--input-bg-colour);
}

#current, #history {
    justify-content: unset;
}

#current div, #history div {
    position: relative;
}

#current img, #history img {
    max-height: 65%;
}

.remove-button {
    position: absolute;
    bottom: 0;
}


/* 
    Query
*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 2rem;
    justify-content: center;
}

.grid img {
    width: 100%;
    max-height: 100%;
}

.grid div img:hover {
    opacity: 0.5;
}

.grid div h3 {
    padding-inline: 0.5rem;
}


/* 
    Watch
*/

#name {
    text-align: center;
    padding-bottom: 1.5rem;
}

.dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 550;
}

.dropdowns select {
    padding: 0.75rem;
    border-radius: 0.4rem;
}

.controls-card {
    background-color: var(--bg-colour-card);
    border-radius: 0.4rem;
    padding: 1rem;

}

.select-bars {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.select-bars p {
    margin: 0 0 0.8rem;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.video iframe {
    max-height: 80vh;
    width: 100%;
    aspect-ratio: 16/9;
    border: 0;
}

.video a {
    font-size: 0.8rem;
}

footer {
    text-align: center;
    padding: 2rem 0 1rem;
    color: var(--font-colour-footer);
    font-size: 0.8rem;
}


/* 
    Loading animation
*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* mobile queries */
@media screen and (max-width: 750px) {
    body {
        padding-inline: 2rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fill,100%);
        gap: 1rem;
    }

    .grid div a{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        background-color: var(--bg-colour-card);
        border-radius: 3px;
        padding: 0.5rem;
    }

    .grid img {
        width: 10rem;
    }

    #current {
        margin-bottom: 3rem;
    }

    .remove-button {
        position: static;
        margin-top: 0.5rem;
    }

    .dropdowns {
        flex-direction: column;
        gap: 2rem;
    }
}
